extends layout

block content

  h1 (#{idUserId}) #{firstName}
  h2 #{ageLocation}

  form(method='POST' action='')
    div.form-group
      label(for='rating') Rating:
      input#name.form-control(type='text', name='rating' value=(undefined===rating ? '' : rating))
    button.btn.btn-primary(type='submit') Submit

  each image in fileSystemimages
    div
      img(src=image[0], alt=image[1])
      h4 #{image[1]}
      
   
    