extends layout

block content

  h1 (#{idUserId}) #{firstName}
  h2 #{ageLocation}
  h2 Rating=#{rating}

  each image in fileSystemimages
    div
      img(src=image[0], alt=image[1])
      h4 #{image[1]}
      
   
    