extends layout

block content
  //- h1= title

  //- ul
  //- each user in user_list
  //-   li
  //-     a(href=user.Url) #{user.FirstName} 
  //-     | #{user.AgeLocation} |  (#{user.Summary})

  //- else
  //-   li There are no users.

  //  img(src='/images/signal-2023-01-23-171951.jpeg', alt='sdf' style="width: 100px; height: auto;" ) 
  // img(src='#{user.ImageURL}', alt='sdf', style='width: 100px; height: auto;' ) 

  table(style='width:100%', border='1')
    tr
      th id
      th Name / Age-Location 
      th Rating
      th Scan Date Time
      th Image
      th Mini Essay
      th Summary

    each user in user_list 
      tr 
        td #{user.idUsers}
        td 
          a(href=user.Url) #{user.FirstName}   
          a(href='/users/showImages/' + user.idUsers) #{user.AgeLocation}
        td #{user.Rating}
        td #{user.ScanDateTime}
        td
          img(src=user.ImageURL , alt='sdf', style='width: 100px; height: auto;' ) 
        td #{user.MiniEssayTitle} : #{user.MiniEssayContent} 
        td #{user.Summary} 
